:root {
  --primary-text-color: #212121; /* основний колір тексту, заголовки */
  --secondary-text-color: #ffffff; /* другий колір тексту, заголовки */
  --paragraf-text-color: #757575; /* колір тексту параграфів*/
  --aсcent-text-color: #2196f3; /* акцент, синій колір */
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
}

/* ------- HEADER ------- */

.logo {
  font-family: 'Raleway', 'Verdana', 'Tahoma', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--aсcent-text-color);
}

.studio-header {
  color: #000000;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraf-text-color);
}

.link:hover,
.link:focus {
  color: var(--aсcent-text-color);
}

/* ------- HERO ------- */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

button {
  color: var(--secondary-text-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

button:hover,
button:focus {
  background-color: #188ce8;
}

/* ------- FEATURES ------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-title {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraf-text-color);
}

/* ------- Чим ми займаємося ------- */
.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* ------- Наша команда ------- */
.team {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-name {
  text-align: center;
  color: var(--primary-text-color);
}
.team-profesion {
  text-align: center;
  color: #757575;
}

/* ------- Footer ------- */
.studio-footer {
  color: var(--secondary-text-color);
}

.contacts {
  background-color: #2f303a;
}
.map,
.contacts-info {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.contacts-info {
  color: rgba(255, 255, 255, 0.6);
}

/* ======= PORTFOLIO ======= */
/* --- Buttons --- */
.projects-list-btn {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.projects-list-btn:hover,
.projects-list-btn:focus {
  color: var(--secondary-text-color);
  background-color: #2196f3;
}
/* --- Projects --- */
.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.type-project {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraf-text-color);
}
