:root {
  --primary-text-color: #212121; /* основний колір тексту, заголовки */
  --paragraf-text-color: #757575; /* вторинний колір тексту */
  --aсcent-text-color: #2196f3; /* акцент, синій колір */
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  font-size: 14px;
}

/* LOGO */
.logo-header {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 0.86;
}

.web {
  color: var(--aсcent-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* SITE-NAV */
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--aсcent-text-color);
}

/* HERO */
.hero {
  color: #ffffff;
  background-color: #2f303a;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.36;
}

button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
}

button:hover,
button:focus {
  color: #ffffff;
  background-color: #188ce8;
  font-weight: 700;
  font-size: 16px;
}

/* FEATURES */
.features .features-title {
  text-transform: uppercase;
  line-height: 1.14;
}

.features .features-text {
  color: var(--paragraf-text-color);
  text-align: left;
  line-height: 1.71;
}

/* Чим ми займаємося */
.team-title {
  font-size: 36px;
  line-height: 1.17;
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
}
.team .team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}
.team .team-profesion {
  color: var(--paragraf-text-color);
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */
.contacts {
  background-color: #2f303a;
}

.contacts .map {
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
}

.contacts .map:hover,
.contacts .map:focus {
  color: var(--aсcent-text-color);
}

.contacts .contacts-info {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
}

.contacts .contacts-info:hover,
.contacts .contacts-info:focus {
  color: var(--aсcent-text-color);
}

.logo-footer {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

/* PORTFOLIO */
/* buttons */
.filters .filters-btn {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.67;
}
.filters .filters-btn:hover,
.filters .filters-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}
/* Projects */
.projects .project-name {
  font-size: 18px;
  line-height: 2;
}
.type-project {
  color: var(--paragraf-text-color);
  font-size: 16px;
  line-height: 1.9;
}
